---
import "../styles/global.css";
import Header from "../components/Patron/Header.astro";
import Footer from "../components/Footer.astro";
---


<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="../../public/Logo.JPG" />
		<meta name="generator" content={Astro.generator} />
		<title>MovilShip</title>
	</head>
	<body>
		<Header/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>
<script src="/scripts/auth.js" is:inline></script>
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>